<div>
    <header>
        <div class="inicio">
            <h1>{{project.titulo}}</h1>
            <p>Estado</p>
            
        </div>
        <p>{{project.descripcion}}</p>
    </header>

    <hr>
    <section class="climg">
        <div class="img">
            <img src="" alt="aqui estoy">
        </div>
        <div class="add">
            Agregar nuevas imagenes 
        </div>
    </section>

    <footer>
        <p>Gasto total: <span>0</span></p>
        <p>Ganancia total: <span>0</span></p>
    </footer>

</div>
