.container{
    margin: 5px 15px 0px 15px;
    position: relative;
}

header{
    width: 90vw;
    height: 150px;
    /* border: 3px solid black; */
}

.inicio{
    display: flex;
    position: relative;
}



.inicio p{
    margin: auto 100px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}

.gree-status{
    background-color: rgba(121, 241, 52, 0.514);

}

.red-status{
    background-color: rgba(241, 74, 52, 0.767);

}

.inicio button{
    width: auto;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.climg{
    /* display: flex; */
    width: 92vw;
    height: 300px;
    /* border: 3px solid black; */
    overflow: auto;
    padding: 10px;
}

.img-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.img-container div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

div img{
    width: 70%;
    height: 150px;
}

.add{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}


.sp{
    display: flex;
    justify-content: space-between;
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.anidados{
    width: 100%;
    height: 50px;
    text-align: start;
    border: 0;
    background-color: white;
    /* display: block; */

}

.anidados:hover{
    background-color: rgba(22, 24, 22, 0.829);
}