<div class="container">
    <header>
        <div class="inicio">
            <h1>{{project.titulo}}</h1>

            @if (estado()) {
                <p class="gree-status">En proceso</p>
            }@else {
                <p class="red-status">Terminado</p>
            }
    
            <button (click)="activar(1)">Configuracion</button>
        </div>
        <p>{{project.descripcion}}</p>
    </header>

    <hr>
    <section class="climg">
        <button (click)="saveImages()" class="add">
            Agrega 
        </button>
        <input class="tm" type="file" (change)="onFileSelected($event)">

        <!-- <hr> -->
        <div class="img-container">
            @for (item of images; track $index) {
                <div><img src="https://cdn.pixabay.com/photo/2022/05/08/18/30/broken-heart-7182718_1280.png" alt="{{item.id}}"></div>
            }
        </div>
    </section>

    <hr>

    <footer>
        <div class="sp">
            <p>Gasto total: <span>0</span></p>
            <p>Ganancia total: <span>0</span></p>
        </div>
        <button class="add">Añadir</button>

    </footer>

    @if (activo()) {
        <nav class="menu oculto">
            <button class="anidados" (click)="terminar()">{{texto}}</button>            
            <button class="anidados" [routerLink]="['/form-project', project.id]">Actualizar</button>
            <button class="anidados" (click)="deleteProject()">Eliminar</button>
            <button class="anidados" (click)="activar(0)">Regresar</button>
        </nav>

    }

</div>
