<div class="container conjunto" >
    <div class="conjunto titulo">
        <label for="">Titulo</label>
        <input class="" type="text" placeholder="Ingresa un titulo">
    </div>
    <div class="conjunto descripcion">
        <label for="">Descripcion</label>
        <textarea class="tm" placeholder="Escribe algo..." name="" id=""></textarea>
    </div>
    <div class="conjunto imagen">
        <label for="">Ingresa tu imagen</label>
        <input class="tm" type="file">
    </div>

    <footer class=" conjunto-2">
        <button class="tm btn">Comenzar ahora</button>
        <button class="tm btn">Cancelar</button>
    </footer>

</div>
