<div class="content">

  <div class="right caja">
    <div class="form">
        <input #email class="mv" type="text">
        <input #clave class="mv" type="text">
        <input #apodo class="mv" type="text">
        <button class="mv" (click)="saveUser(email, clave, apodo)">Resitrate</button>
        <a class="mv" href="#">¿Olvidaste tu contraseña?</a>
        <button class="mv"><a routerLink="/login">¿No tienes cuenta? Crea una ahora...</a></button>
    </div>
  </div>

  <div class="left caja">
    <h1>Bienvenidos</h1>
    <h3>A</h3>
    <h2>Su gestos de gastos</h2>
    <h2>Favorito</h2>
    <p>Registrate para continuar</p>
  </div>



</div>