<h2 class="titulo">Mis proyectos</h2>

<div class="filter">
    <h3>Busqueda</h3>
    <input placeholder="buscar" type="text">
    <button>filtro</button>
</div>

<div class="container" >
    @for (item of PROJECTS(); track item.id) {
        <div class="card" [routerLink]="['/d-project', item.id]" >
            <h3>{{item.titulo}}</h3>
            <p>{{item.shortText}}</p>
            <img src="https://cdn.pixabay.com/photo/2022/05/08/18/30/broken-heart-7182718_1280.png" alt="{{item.foto}}">
            @if (item.estado) {
                <p class="estado green">En proceso</p>
            }@else {
                <p class="estado danger">Terminado</p>
            }
        </div>
    }
</div>