.titulo{
    margin-top: 25px;
}

.filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    margin: 25px 0px;
    width: 400px;
}

.filter input{
    width: 250px;
    height: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.card{
    padding: 5px;
    border: black 3px solid;
    height: 350px;
    position: relative;
}

.card img{
    width: 70%;
    height: 180px;
    margin: 0px 50px;
}

.estado{
    border: black solid 2px;
    width: 100px;
    height: auto;
    border-radius: 3px;
    /* margin-top: px; */
    /* margin-left: 240px; */
    right: 10px;
    bottom: 0;
    position: absolute;
}

.green{
    background-color: rgb(53, 245, 27);
}

.danger{
    background-color: rgba(241, 74, 52, 0.932);
}

