<div class="content">
  <div class="left caja">
    <h1>Bienvenidos</h1>
    <h3>A</h3>
    <h2>Su gestos de gastos</h2>
    <h2>Favorito</h2>
    <p>Inicie secion para poder continuar</p>
  </div>
  <div class="right caja">
    <div class="form">
        <input #gmail class="mv" type="text" placeholder="Ingrese su usuario o gmail">
        <input #clave class="mv" type="password" placeholder="Inglese su clave">
        <button [routerLinkActive]="'ir'" (click)="login(gmail, clave)" class="mv">Iniciar Secion</button>
        <a class="mv" href="#">¿Olvidaste tu contraseña?</a>
        <a class="mv" routerLink="/register">¿No tienes cuenta? Crea una ahora...</a>
    </div>
  </div>
</div>