root{
  padding: 0;
  margin: 0;
}
body{
  position: relative;
}

.content{
  background-color: black;
  width:90vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  inset: 0;
  margin: auto;
  
}

.caja{
  width: 50%;
  height: 100%;
  margin: 70px;
  color: white;
}

.right{

  background-color: rgba(255, 124, 36, 0.945);
}
.left{

}

.form {
  width: 100%;
}

.mv {
  margin: 6% 19%;
  width: 60%;
  display: block;

}
