div{
    margin-top: 20px;
}

.btn{
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-color: rgba(74, 206, 146, 0.301);
}

.btn:hover{
    background-color: rgba(71, 247, 71, 0.925);
}

section{
    margin-top: 30px;
}
